<ion-modal-view ng-controller="CreatePostController">
<ion-header-bar class="bar-dark">
<div class="buttons">

	<button ng-click="myGoBack()" class="button button-clear button-icon icon ion-close-round button-light"></button>
</div>

</ion-header-bar>
<ion-content class="modalfoto" >

<div class="card card-take-a-post">
  <div class="item item-divider">
   
  </div>
  <div class="item item-text-wrap">

    <div class="item item-image">
    <button ng-model='myimage' ng-click='getApic()' ng-hide="myimage" class="button button-getpic icon-center ion-camera"></button>
    <img ng-show="myimage" id="myImage" src="img/photo1.jpg">
  </div>
   
   <div class="item">
   	
	<div class="localizacao">
		{{formated_adress}}
	</div>

   </div>
	

	<div class="item">
   	
	<div class="categorias" ng-show="myimage">
		<div class="list-categoria-1">
		<ul class="list">

		  <li class="item item-checkbox">
		     <label class="checkbox">
		       <input ng-model='categoria1' type="checkbox">
		     </label>
		    Natureza
		  </li>

		  <ul ng-show='categoria1' class="list">
				   <li class="item item-checkbox">
				     <label class="checkbox">
				       <input ng-model='sucategoria1' value="Lago" type="checkbox">
				     </label>
				    Lago
				  </li>

				   <li class="item item-checkbox">
				     <label class="checkbox">
				       <input ng-model='sucategoria2'  value="Cachoeira"  type="checkbox">
				     </label>
				    Cachoeira
				  </li>

				   <li class="item item-checkbox">
				     <label class="checkbox">
				       <input ng-model='sucategoria3'  value="Mato"  type="checkbox">
				     </label>
				    Mato
				  </li>

		  	</ul>


		 

		</ul>
			 
	   		
	   	</div>

	</div>

   </div>
	


  </div>

   <div ng-show="myimage" class="item item-text-wrap">
  
	<ul class="list">

  <li class="item item-toggle">
   FACEBOOK
     <label class="toggle toggle-positive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
    <li class="item item-toggle">
   TWITTER
     <label class="toggle toggle-positive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
  <li class="item item-toggle">
   INSTAGRAM
     <label class="toggle toggle-positive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
</ul>


  </div>
  <div class="item item-divider">
   <a  class="button button-full icon-right ion-chevron-right button-positive" ng-show="myimage">Postar</a>
  </div>
</div>
</ion-modal-view>