<ion-modal-view ng-controller="CreatePostController">
<ion-header-bar class="bar-dark">
<div class="buttons">

	<button ng-click="myGoBack()" class="button button-clear button-icon icon ion-close-round button-light"></button>
</div>

</ion-header-bar>
<ion-content class="modalfoto" >

<div class="card card-take-a-post">
  <div class="item item-divider">
   
  </div>
  <div class="item item-text-wrap">

    <div class="item item-image">
    <button ng-model='myimage' ng-click='getApic()' ng-hide="myimage" class="button button-getpic icon-center ion-camera"></button>
    <img ng-show="myimage" id="myImage" src="img/photo1.jpg">
  </div>
   
   <div class="item">
   	
	<div class="localizacao">
		<span class="ion-icon ion-location"></span> {{formated_adress}}
	</div>

   </div>
	

	<div class="item">
   	
	<div class="categorias" ng-show="myimage">
		<div class="list-categoria-1">
		<ul class="list">



		  <label  class="item item-radio">
		    <input ng-model="categoria1" value="Natureza" type="radio" name="categoria">
		    <div class="item-content">
		      Natureza
		    </div>
		    <i class="radio-icon ion-checkmark"></i>
		  </label>


		  <ul ng-show='categoria1 == "Natureza" ' class="list">
				   <label  class="item item-radio">
				    <input ng-model='subcat1' type="radio" name="subcat1">
				    <div class="item-content">
				      sub a1
				    </div>
				    <i class="radio-icon ion-checkmark"></i>
				  </label>

				   <label  class="item item-radio">
				    <input ng-model='subcat1' type="radio" name="subcat1">
				    <div class="item-content">
				      sub a2
				    </div>
				    <i class="radio-icon ion-checkmark"></i>
				  </label>

				   <label  class="item item-radio">
				    <input ng-model='subcat1' type="radio" name="subcat1">
				    <div class="item-content">
				      sub a3
				    </div>
				    <i class="radio-icon ion-checkmark"></i>
				  </label>

				   <label  class="item item-radio">
				    <input ng-model='subcat1' type="radio" name="subcat1">
				    <div class="item-content">
				      sub a4
				    </div>
				    <i class="radio-icon ion-checkmark"></i>
				  </label>

		  	</ul>



		 

		</ul>

				<ul class="list">



		  <label  class="item item-radio">
		    <input ng-model="categoria1" value="Cidade" type="radio" name="categoria">
		    <div class="item-content">
		      Cidade
		    </div>
		    <i class="radio-icon ion-checkmark"></i>
		  </label>


		  <ul ng-show='categoria1 == "Cidade"' class="list">
				   <label  class="item item-radio">
				    <input ng-model='subcat2' type="radio" name="subcat2">
				    <div class="item-content">
				      sub a1
				    </div>
				    <i class="radio-icon ion-checkmark"></i>
				  </label>

				   <label  class="item item-radio">
				    <input ng-model='subcat2' type="radio" name="subcat2">
				    <div class="item-content">
				      sub a2
				    </div>
				    <i class="radio-icon ion-checkmark"></i>
				  </label>

				   <label  class="item item-radio">
				    <input ng-model='subcat2' type="radio" name="subcat2">
				    <div class="item-content">
				      sub a3
				    </div>
				    <i class="radio-icon ion-checkmark"></i>
				  </label>

				   <label  class="item item-radio">
				    <input ng-model='subcat2' type="radio" name="subcat2">
				    <div class="item-content">
				      sub a4
				    </div>
				    <i class="radio-icon ion-checkmark"></i>
				  </label>

		  	</ul>
		  	


		 

		</ul>
			 
	   		
	   	</div>

	</div>

   </div>
	


  </div>

   <div ng-show="myimage" class="item item-text-wrap">
  
	<ul class="list">

  <li class="item item-toggle">
   FACEBOOK
     <label class="toggle toggle-positive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
<!--     <li class="item item-toggle">
   TWITTER
     <label class="toggle toggle-positive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li> -->
  <li class="item item-toggle">
   INSTAGRAM
     <label class="toggle toggle-positive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
</ul>


  </div>
  <div class="item item-divider">
   <a  class="button button-full icon-right ion-chevron-right button-positive" ng-show="myimage">Postar</a>
  </div>
</div>
</ion-modal-view>