<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
 <ion-nav-bar class="bar-positive">
    <ion-nav-back-button>
    Voltar
  </ion-nav-back-button>
</ion-nav-bar> 


<ion-tabs class="tabs-striped tabs-background-positive tabs-color-light " ng-controller="tabs">

  <!-- Dashboard Tab -->
  <ion-tab title="Inicio" icon-off="ion-ios-home" icon-on="ion-ios-home" href="#/auth/inicio">
    <ion-nav-view name="inicio"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Perfil" icon-off="ion-person" icon-on="ion-person" href="#/auth/perfil">
    <ion-nav-view name="perfil"></ion-nav-view>
  </ion-tab>
    <ion-tab title="Amigos" icon-off="ion-ios-people" icon-on="ion-ios-people" href="#/auth/amigos">
    <ion-nav-view name="amigos"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab icon-off="ion-android-camera personalizado" icon-on="ion-android-camera" on-select="camera()">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
