<ion-view view-title="ProjetoSocial">
<ion-content class="inicio">
<div class="list">

	<div ng-repeat="i in [1,2,3]"> 
		<div class="item item-avatar ">
			<img src="https://igcdn-photos-f-a.akamaihd.net/hphotos-ak-xfa1/t51.2885-15/11377538_1601810536741533_1962895443_n.jpg">
			<h2>victoriassecret</h2>
			<h3>Cascavel, Paraná</h3>
			<p>35 min</p>
		</div>

		<div class="item item-image">
			<img src="https://igcdn-photos-f-a.akamaihd.net/hphotos-ak-xfa1/t51.2885-15/11377538_1601810536741533_1962895443_n.jpg">
		</div>
		<div class="footer_img branqueia">
			<div class="dados">
				<button class="button like icon-left ion-heart">Gostei <span>225</span></button>
				<button class="button like icon-left red ion-heart-broken">Não gostei <span>3</span></button>
			</div>
			<img src="https://igcdn-photos-f-a.akamaihd.net/hphotos-ak-xfa1/t51.2885-15/11377538_1601810536741533_1962895443_n.jpg" />
			
		</div>
		<div class="categorias">
			<h3> Categorias:</h3>
			<p>
				<a>Fotos<i class="icon ion-arrow-right-b"></i>Bonitas</a>
				<a>Fotos<i class="icon ion-arrow-right-b"></i>Bonitas</a>
				<a>Fotos<i class="icon ion-arrow-right-b"></i>Bonitas</a>
				<a>Fotos<i class="icon ion-arrow-right-b"></i>Bonitas</a>
			</p>
		</div>
		<div class="comentarios">
			<p ng-repeat="i in [1,2]">
				<a>@jeandro</a>: Top
			</p>

			<button class="button  icon-left  ion-forward comentar">Comentar</button>
			<div style="clear: both"></div>
		</div>
	</div>

</div>

</ion-content>
</ion-view>
