<ion-view view-title="Perfil">

<ion-content >
<div class="foto"> 
	<img src="https://igcdn-photos-f-a.akamaihd.net/hphotos-ak-xfa1/t51.2885-15/11377538_1601810536741533_1962895443_n.jpg" />
	<div style="clear:both"> </div>
	<a href="">Alterar Foto</a>
</div>


	<div class="profile-menu-wrapper">
		<div class="list">
			<label class="item item-input item-stacked-label">
				<span class="input-label">Nome</span>
				<input type="text" placeholder="Escreve seu nome" ng-model="nome" />
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Email</span>
				<input type="text" placeholder="ex: joao@gmail.com" ng-model="username"/>
			</label>
		</div>
		<div class="padding">
		<button class="button button-blue button-full " ng-click="submit(username, nome)">
			Alterar Dados
		</button>
		<button class="button button-stable button-full " ng-click="cadastrar()">
			Alterar sua Senha
		</button>
	</div>
</div>
</ion-content>
</ion-view>