<ion-view view-title="Buscar">
<ion-header-bar class="bar bar-header item-input-inset bar-subheader bar-positive">
<label class="item-input-wrapper">
	<i class="icon ion-ios7-search placeholder-icon"></i>
	<input ng-model="valorbusca" ng-keyup="searchnow(valorbusca)" type="search" placeholder="Buscar">
</label>
</ion-header-bar>
<ion-content>


<div class="list">

    <a ng-repeat="resultado in dados" class="item item-avatar" href="#/auth/profile/{{resultado.id}}">
      <img src="{{verificarfoto(resultado.profile_pic)}}">
      <h2>{{ resultado.nickname }}</h2>

    </a>

</div>

</ion-content>
</ion-view>