
/*
  signup
*/
/*
  profile
*/
.profile-page {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff; }
  .profile-page.edit-profile-page .profile-menu-wrapper {
    background: #ffffff;
    position: relative;
    height: inherit;
    z-index: 2; }
    .profile-page.edit-profile-page .profile-menu-wrapper .list label.item-input .input-label {
      color: #49799a;
      padding: 4px 0 4px 8px; }
    .profile-page.edit-profile-page .profile-menu-wrapper .list label.item-input input[type="text"], .profile-page.edit-profile-page .profile-menu-wrapper .list label.item-input input[type="password"] {
      font-size: 16px;
      letter-spacing: 0.5px; }
    .profile-page.edit-profile-page .profile-menu-wrapper .button-submit {
      margin: 5px auto;
      width: 88%; }
  .profile-page .profile-img-wrapper {
    height: 100%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #07b9d9; }
    .profile-page .profile-img-wrapper.edit-profile {
      height: inherit; }
      .profile-page .profile-img-wrapper.edit-profile .avatar-section {
        padding: 0; }
        .profile-page .profile-img-wrapper.edit-profile .avatar-section .content .avatar-icon {
          min-height: 170px; }
        .profile-page .profile-img-wrapper.edit-profile .avatar-section .content button {
          border: none;
          color: #fff;
          font-size: 14px;
          z-index: 2; }
          .profile-page .profile-img-wrapper.edit-profile .avatar-section .content button.edit-bg {
            background: rgba(233, 49, 77, 0.8); }
          .profile-page .profile-img-wrapper.edit-profile .avatar-section .content button.button.edit-avatar, .profile-page .profile-img-wrapper.edit-profile .avatar-section .content button.edit-avatar.button {
            background: rgba(233, 49, 77, 0.8);
            top: 0%;
            right: -16px;
            width: 29px;
            height: 29px;
            border: none; }
            .profile-page .profile-img-wrapper.edit-profile .avatar-section .content button.button.edit-avatar:after, .profile-page .profile-img-wrapper.edit-profile .avatar-section .content button.edit-avatar.button:after {
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center;
              background-color: transparent;
              position: absolute;
              content: ' ';
              background-image: url('../img/iconmonstr-pencil-10-icon-256.png');
              width: 15px;
              height: 15px;
              top: 25%;
              left: 25%; }
    .profile-page .profile-img-wrapper:before {
      content: '\a';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      z-index: 0;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-color: #000000;
      background: url(../img/gradients-profile-5.png);
      opacity: 0.4; }
    .profile-page .profile-img-wrapper .slider {
      height: 100%; }
    .profile-page .profile-img-wrapper .slider-pager {
      bottom: 7px; }
      .profile-page .profile-img-wrapper .slider-pager i.icon.ion-record {
        font-size: 10px; }
    .profile-page .profile-img-wrapper .slider-slide {
      text-align: center; }
    .profile-page .profile-img-wrapper .avatar-section {
      width: 100%;
      display: table;
      text-align: center;
      margin: 0px auto;
      padding: 0 0 25px 0;
      vertical-align: middle;
      height: inherit;
      position: relative;
      z-index: 2; }
      .profile-page .profile-img-wrapper .avatar-section.avatar-bio-section:after {
        position: absolute;
        top: 0px;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        z-index: 0;
        content: '';
        background: rgba(0, 0, 0, 0.5); }
      .profile-page .profile-img-wrapper .avatar-section .content {
        display: table-cell;
        vertical-align: middle;
        width: 100%; }
        .profile-page .profile-img-wrapper .avatar-section .content .avatar-icon {
          padding: 9% 0 0 0;
          position: relative; }
          .profile-page .profile-img-wrapper .avatar-section .content .avatar-icon .avatar-img {
            background-image: url(../img/user-icon-2.png);
            display: inline-block;
            width: 90px;
            height: 90px;
            border-radius: 50%;
            border-width: 2px;
            border-style: solid;
            border-color: #fff;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-color: #f3f3f3;
            position: relative;
            z-index: 2; }
            .profile-page .profile-img-wrapper .avatar-section .content .avatar-icon .avatar-img:before {
              width: 108px;
              height: 108px;
              border-radius: 50%;
              border-width: 1px;
              border-style: solid;
              border-color: rgba(255, 255, 255, 0.5);
              background-color: transparent;
              position: absolute;
              left: -12.6%;
              top: -12.6%;
              z-index: 0;
              content: ''; }
            .profile-page .profile-img-wrapper .avatar-section .content .avatar-icon .avatar-img button {
              min-width: 32px;
              background: none;
              border: 1px solid rgba(255, 255, 255, 0.5);
              min-height: 32px;
              padding: 0;
              position: absolute;
              top: 0%;
              right: -100%;
              border-radius: 50%; }
              .profile-page .profile-img-wrapper .avatar-section .content .avatar-icon .avatar-img button:after {
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                background-color: transparent;
                position: absolute;
                content: ' ';
                background-image: url('../img/iconmonstr-pencil-10-icon-256.png');
                width: 15px;
                height: 15px;
                top: 25%;
                left: 25%; }
    .profile-page .profile-img-wrapper .info-section {
      width: 100%;
      text-align: center;
      color: #fff;
      padding: 10px 0 14px 0;
      font-size: 16px;
      position: relative;
      z-index: 2; }
      .profile-page .profile-img-wrapper .info-section p {
        width: 80%;
        margin: 5px auto; }
      .profile-page .profile-img-wrapper .info-section .content {
        display: table-cell;
        vertical-align: middle; }
        .profile-page .profile-img-wrapper .info-section .content:after {
          content: "";
          background: linear-gradient(to top, rgba(0, 0, 0, 0.15) 0, transparent 100%);
          position: absolute;
          width: 100%;
          height: 100%;
          display: block;
          z-index: 0;
          bottom: -35px; }
      .profile-page .profile-img-wrapper .info-section h1 {
        color: #fff;
        font-size: 20px;
        margin: 0; }
      .profile-page .profile-img-wrapper .info-section h2 {
        font-size: 16px;
        font-weight: normal;
        margin: 0 0 10px 0;
        color: #fff; }
        .profile-page .profile-img-wrapper .info-section h2.city {
          color: rgba(255, 255, 255, 0.75);
          font-size: 14px;
          margin: 5px 0; }
    .profile-page .profile-img-wrapper .follower-section {
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      color: #fff;
      position: relative;
      z-index: 2;
      display: inline-table;
      border-top: 1px solid rgba(255, 255, 255, 0.25);
      background: rgba(255, 255, 255, 0.4);
      position: relative;
      height: 11%;
      padding: 5px;
      text-align: center; }
      .profile-page .profile-img-wrapper .follower-section span {
        text-align: center;
        color: #fff;
        vertical-align: middle;
        font-size: 13px;
        letter-spacing: 0.5px;
        margin: 0;
        display: inline-block;
        padding: 0 10px 0px 20px; }
        .profile-page .profile-img-wrapper .follower-section span.first {
          padding: 0 20px 0px 10px;
          border-right: 1px solid rgba(255, 255, 255, 0.5); }
  .profile-page .profile-menu-wrapper {
    background: #ffffff;
    z-index: 2; }

/*
  Users page
*/
.users-page {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  background: #383a4c; }
  .users-page .list .item-avatar {
    width: 100%; }
    .users-page .list .item-avatar.user-list-item {
      height: 90px;
      background: transparent;
      border-width: 0 0 1px 0;
      border-color: rgba(0, 0, 0, 0.2);
      color: #ffffff;
      padding-left: 80px; }
      .users-page .list .item-avatar.user-list-item.activated {
        background: rgba(0, 0, 0, 0.5); }
      .users-page .list .item-avatar.user-list-item .avatar {
        border-radius: 50%;
        top: 10px;
        max-width: 60px;
        max-height: 60px; }
      .users-page .list .item-avatar.user-list-item .name {
        color: #ffffff;
        font-size: 15px; }
      .users-page .list .item-avatar.user-list-item .username {
        color: #babcc6;
        font-size: 14px; }
      .users-page .list .item-avatar.user-list-item .location {
        color: #babcc6;
        font-size: 13px; }
.btn-face {
  background-color: rgb(71, 99, 158);
  color: #fff;
  border: none;
}
.btn-insta {
  background-color: #125688;
  color: #fff;
  border: none;
}
