/* Empty. Add your own CSS if you like */
.item.item-avatar {
	padding-top: 17px!important;
	padding-bottom: 10px!important;
	min-height: 56px;
}
.inicio .item {
	-webkit-animation-name: entrando;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 1s;
}

img {
	top: 7px!important;
	bottom: 5px!important;
}
.footer_img {
	background: bottom;
	overflow: hidden;
	width: 100%; 
	height: 62px;
}

.footer_img  img{
	-webkit-animation-name: entrando;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 1s;
	-webkit-filter: blur(7px);
	width: 104%;
	margin-left: -3px;
	margin-top: -80%!important;
}

.branqueia:before {
	content: "";
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 70px;
	background-color: rgba(255, 255, 255, 0.45);
}
.dados {
	-webkit-animation-name: entrando;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 1s;
	position: absolute;
	z-index: 2;
	margin: 13px;
}

.item.item-image {
	border-bottom: 0px;
}

button.like {
	padding-right: 10px;
	border: 0px;
	height: 38px!important;
	min-height: 38px;
	line-height: 38px;
	border-radius: 4px;
	border-bottom: 1px solid #A8A8A8;
	color: #303030;
	  margin-right: 10px;
}

.like:before {
	margin-right: 4px;
	line-height: 38px!important;
	color: #303030;
}

.like.red span {
    color: #cb3939;
}

.like span {
    display: inherit;
    margin-left: 15px;
    color: #5087d4;
    font-weight: bold;
}
.item h2 {
  position: absolute;
  color: #387EF5;
  font-weight: bold;
  font-size: 18px!important;
}
.item-avatar p {
    float: right;
}

/*Animacao entrada*/
@-webkit-keyframes entrando {
    0% {
       opacity: 0;
    }
    60% {
       opacity: 0;
    }
    100% {
        opacity: 1;
    }
}