<ion-view title="Cadastro">
<ion-content class="signup-page content-bg has-header" scroll="true" >
<div class="list">
  <label class="item item-input username">
    <input type="text" placeholder="Nome" ng-model="username">
  </label>

  <label class="item item-input email">
    <input type="text" placeholder="Email" ng-model="email">
  </label>

  <label class="item item-input lock">
    <input type="password" placeholder="Senha" ng-model="password">
  </label>

  <label class="item item-input telephone">
    <input type="text" placeholder="Celular" ng-model="celular">
  </label>
</div>

<button class="button button-blue" ng-click="cadastro(username, password, email,celular)">
  Finalizar Cadastro
</button>
<button ng-controller="AuthController" class="button button-full btn-face hide-on-keyboard-open" ng-click="facebook()">
<span class="ion-social-facebook-outline"></span> Entrar com  Facebook
</button>





</ion-content>
</ion-view>
