<ion-view title="Cadastrar">
<ion-content class="signup-page content-bg has-header" scroll="true" >
<div class="list">
  <label class="item item-input username">
    <input type="text" placeholder="Usuario" ng-model="username">
  </label>

  <label class="item item-input email">
    <input type="text" placeholder="Email" ng-model="email">
  </label>

  <label class="item item-input lock">
    <input type="password" placeholder="Senha" ng-model="password">
  </label>
</div>

<button class="button button-blue" ng-click="cadastro(username, password, email)">
Cadastrar
</button>
</ion-content>
</ion-view>
