<ion-view title="Cadastrar">
<ion-content class="signup-page content-bg has-header" scroll="true" >
<div class="list">
  <label class="item item-input username">
    <input type="text" placeholder="Nome" ng-model="username">
  </label>

  <label class="item item-input email">
    <input type="text" placeholder="Email" ng-model="email">
  </label>

  <label class="item item-input lock">
    <input type="password" placeholder="Senha" ng-model="password">
  </label>

    <label class="item item-input telephone">
    <input type="text" placeholder="Celular" ng-model="celular">
  </label>
</div>

<button class="button button-blue" ng-click="cadastro(username, password, email,celular)">
Cadastrar
</button>


      <button class="button button-full btn-face hide-on-keyboard-open" ng-click="doFaceCad()">
         <span class="ion-social-facebook-outline"></span> Cadastrar com  Facebook
      </button>
       <button class="button button-full btn-google hide-on-keyboard-open" ng-click="doGoogleCad()">
         <span class="ion-social-google-outline"></span> Cadastrar com  Google
      </button>




</ion-content>
</ion-view>
