<ion-view title="Mais alguns dados">
<ion-content class="signup-page content-bg has-header" scroll="true" >
<div class="list">
  <label class="item item-input username">
    <input type="text" placeholder="@username" ng-model="username">
  </label>

  <label class="item item-input email">
    <input type="text" placeholder="Email" ng-model="email">
  </label>

  <label class="item item-input lock">
    <input type="password" placeholder="Senha" ng-model="password">
  </label>

  <label class="item item-input telephone">
    <input type="text" placeholder="Celular" ng-model="celular">
  </label>
</div>

<button class="button button-blue" ng-click="cadastro(username, password, email,celular)">
  Cadastrar
</button>





</ion-content>
</ion-view>
