<ion-view title="Entrar">
<ion-content class="signup-page content-bg has-header" scroll="true" >

        <div class="list">
        <label class="item item-input username">
          <input type="text" placeholder="Email" ng-model="username">
        </label>

        <label class="item item-input lock">
          <input type="password" placeholder="Senha" ng-model="password">
        </label>
      </div>
    
      <button class="button button-full button-blue" ng-click="entrar(username, password)">
        Entrar
      </button>

      <button class="button button-full btn-face hide-on-keyboard-open" ng-click="facebook()">
         <span class="ion-social-facebook-outline"></span> Entrar com  Facebook
      </button>





  
  </ion-content>
</ion-view>
