<ion-view name="content" title="Inicio" hide-back-button="true">

<ion-content class="main-page home-bg content-bg overlay-content" scroll="true">
<div class="logo">
</div>

<div class="slogan">
	<p>
		Mudança Social
	</p>
</div>
<button class="button button-blue" ng-click="facebook()">
	Entrar Com Facebook
</button>

<button class="button button-blue" ng-click="Redirect('#/inicio')">
	"Cadastrar Normal"
</button>

<button class="button" ng-click="AutenticaParse('douglasdm97@gmail.com', 'douglasdm97@gmail.com', 'Douglas', 'https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xfp1/v/t1.0-9/11165268_897324380329241_2983727781852729504_n.jpg?oh=9f145b86e3ee9b0c4316c8553f103da8&oe=5625D7F1&__gda__=1444796792_27d0a556b776aef998f697b6a4cc3e43')">
	Entrar Emulador(só para desenvolvimento)
</button>


</ion-content>

</ion-view>
